In [68]:
# Observable Trends 
# 1) Game participation rates by gender are as follows: Male 84%, Female 12%, Other/Un-identified 2% indicating 
# that while women are certainly a target/marketable popultion, the large majority of players identify as male.
# Regarding age demographic, the largest segment of the player population falls between the ages of 20 and 24 years 
# with a total of 45% of the 576 player population.  The second largest age segment falls between the ages of
# 15 and 19 years with 19% of the 576 player population, and third largest age segment between 25 and 29 years with
# 13% of the 576 player population.  

# 2) A dis-similar trend, in terms of engagement rate among female players, actually manifests when we look at
# purchase count as a percentage of total, total average purchase price of products, and total average purchase 
# per player.  Indeed, while male players undoubtely yield higher total purchase counts and amounts ($1,968 and 
# 652) versus female players ($362 and 113,) average purchase price per item and average total purchase per player 
# is actually higher among female players ($3.20 vs. $3.02 and $4.47 vs. $4.56, respectively.)

# 3) Leveraging a rate/volume analysis of price versus volume and comparing average total purchase price per player
# versus total average purchase price, there appears to be several opportunities to target player populations with 
# relatively higher average total purchase per person amounts than others, for example: 20-24 year old population, 
# 35-39 year old population, and the <10 under ten year old population, or, at least the parents and grandparents 
# who might be buying for these players.

In [18]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [25]:
# Define total players, use length of list of screen names "SN", count "SN" values in string
total_players = len(purchase_data["SN"].value_counts())

# Create data frame in order to return values (output/return is formatted)
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [54]:
# Capture unique items count (unique,) average price (mean,) purchase count (count,) and total revenue (sum)
unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
purchase_count = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

# Create data frame in order to return values (output/return is formatted)
summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [purchase_count], 
                           "Total Revenue": [total_revenue]})

# Format average price & total revenue with $ currency and two significant figures
summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [55]:
# Group purchase_data by gender (gouping)
gender_grouping = purchase_data.groupby("Gender")

# Count total screen names "SN" by gender (nunique)
count_by_gender = gender_grouping.nunique()["SN"]

# Calculate percentage by gender, divide count by gender by total players
percentage_by_gender = count_by_gender / total_players * 100

# Create data frame in order to return values (output/return is formatted)
gender_output = pd.DataFrame({"Total Count": count_by_gender, "Percentage of Players": percentage_by_gender})

# Format table by removing index name (0)
gender_output.index.name = None

# Sort by total count in descending order, add percentage with two significant figures
gender_output.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
# Count total purchases by gender (count)
purchase_count = gender_stats["Purchase ID"].count()

# Calcuate average purchase price by gender (mean)
avg_purchase_price = gender_stats["Price"].mean()

# Calculate total purchase value by gender (sum)
total_purchase_value = gender_stats["Price"].sum()

# Calculate average total purchase per gender (total purchase value divided by count by gender)
avg_purchase_per_gender = total_purchase_value/count_by_gender

# Create data frame in order to return values (output/return is formatted)
gender_output = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Total Purchase Value":total_purchase_value,
                                    "Avg Total Purchase per Person": avg_purchase_per_gender})

# Label top left index as "Gender" (replace 0 as index label)
gender_output.index.name = "Gender"

# Format average purchase price, total purchase value & avg total purchase/person with $ currency and two significant figures
gender_output.style.format({"Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}",
                                  "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [64]:
# Define bins for age segments and assign names
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Segment age values into corresponding bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

# Create data frame in order to return values (output/return is formatted)
# Group purchase_data by age ("Age Group") (gouping)
age_grouped = purchase_data.groupby("Age Group")

# Count total players by age (nunique) #Same as total screen names "SN" by gender
count_by_age = age_grouped["SN"].nunique()

# Calculate percentage by age category #Same as percentage by gender 
percentage_by_age = (count_by_age/total_players) * 100

# Create data frame in order to return values (output/return is formatted)
age_output = pd.DataFrame({"Total Count": count_by_age, "Percentage of Players": percentage_by_age})

# Format the data frame with no index name in the corner
age_output.index.name = None

# Format percentage with % and two decimal places 
age_output.style.format({"Percentage of Players":"{:,.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [66]:
# Count total purchases by age group (count)
purchase_count_age = age_grouped["Purchase ID"].count()

# Calculate average purchase price by age group (mean)
avg_purchase_price_age = age_grouped["Price"].mean()

# Calculate total purchase value by age group (sum)
total_purchase_value = age_grouped["Price"].sum()

# Calculate average total purchase per person in the age group (total purchase value divided by total count age)
avg_purchase_by_age = total_purchase_value/total_count_age

# Create data frame in order to return values (output/return is formatted)
age_output = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Avg Total Purchase per Person": avg_purchase_by_age})

# Format the data frame with no index name in the corner
age_output.index.name = None

# Format with currency style
age_output.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [50]:
# Identify top 5 spenders by purchase count, avg purchase price, total purchase value
# Replicate the same code as was done for gender and age groups

# Group purchase_data by screen names (gouping)
spender_stats = purchase_data.groupby("SN")

# Count total purchases by spender (count)
purchase_count_by_spender = spender_stats["Purchase ID"].count()

# Calcuate average purchase price by spender (mean)
avg_purchase_price_spender = spender_stats["Price"].mean()

# Calculate total purchase value by spender (sum)
purchase_total_spender = spender_stats["Price"].sum()

# Create data frame in order to return values (output/return is formatted)
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_by_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})

# Sort in descending order to obtain top 5 spender names, print head
formatted_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

# Format table by assigning "SN" as index name
formatted_spenders.index.name = "SN"

# Format average purchase price & total purchase value with $ currency and two significant figures
formatted_spenders.style.format({"Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [52]:
# Identify top 5 items by purchase count, sorting by Item ID, item name, item price, and total purchase value
# Replicate the same code as was done for gender, age groups, and top spenders

# Create new data frame capturing relevent sort categories
items = purchase_data[["Item ID", "Item Name", "Price"]]

# Group the item data by item id and item name 
item_stats = items.groupby(["Item ID","Item Name"])

# Count total purchases by item, grouped 1:1 by both item id and item name (count)
purchase_count_item = item_stats["Price"].count()

# Calculate total purchase value by item (sum)
purchase_value_item = (item_stats["Price"].sum()) 

# Calculate individual item price (total purchase value divided by purchase count)
item_price = purchase_value_item/purchase_count_item

# Create data frame in order to return values (output/return is formatted)
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value_item})

# Sort in descending order top 5 item names by purchase count, print head
popular_formatted = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

# Format item price and total purchase value with $ currency and two significant figures
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [53]:
# Identify top 5 items by total purchase value, sorting by Item ID, item name, purchase count, and item price
# Replicate the same code as was done for top 5 items by purchase count

# Sort in descending order top 5 item names by total purchase value, print head
popular_formatted = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
# Format item price and total purchase value with $ currency and two significant figures
popular_formatted.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})